In [10]:
from get_variables import GetVariables
import pandas as pd

In [11]:
path = r"datasets/Cajas_Municipales/EF/2014/C-1101-di2014.xls"

In [12]:
df = pd.read_excel(path,header=None)
df

,0,1,2,3,4,5,6,7,8,9,...,46,47,48,49,50,51,52,53,54,55
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Balance General por Caja Municipal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Balance General por Caja Municipal,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014-12-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2014-12-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,(En Miles de Nuevos Soles),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,(En Miles de Nuevos Soles),NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Actualizado al 05.03.2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,Instrumentos Financieros Derivados,0,72713.61071,72713.61071,NaN,0,0,0,NaN,0,...,72713.61071,72713.61071,Instrumentos Financieros Derivados,0,0,0,NaN,0,72713.61071,72713.61071
129,Otras Cuentas Contingentes,0,0,0,NaN,0,0,0,NaN,1000,...,0,11801.00171,Otras Cuentas Contingentes,26666.57801,0,26666.57801,NaN,38467.57972,0,38467.57972
130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,Tipo de Cambio Contable: S/. 2.986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Tipo de Cambio Contable: S/. 2.986,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,1/ Incluye gastos devengados por pagar.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1/ Incluye gastos devengados por pagar.,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
instance = GetVariables("datasest","EF","Cajas_Municipales")
df = instance.clean_firts_moment(df).reset_index(drop=True)
df

,0,1,2,3,5,6,7,9,10,11,...,45,46,47,48,49,50,51,53,54,55
0,Balance General por Caja Municipal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Balance General por Caja Municipal,NaN,NaN,NaN,NaN,NaN,NaN
1,2014-12-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2014-12-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
2,(En Miles de Nuevos Soles),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,(En Miles de Nuevos Soles),NaN,NaN,NaN,NaN,NaN,NaN
3,Actualizado al 05.03.2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Activo,CMAC Arequipa,NaN,NaN,CMAC Cusco,NaN,NaN,CMAC Del Santa,NaN,NaN,...,TOTAL CAJAS MUNICIPALES DE AHORRO Y CREDITO,NaN,NaN,Activo,Caja Municipal de Crédito Popular Lima,NaN,NaN,TOTAL CAJAS MUNICIPALES,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,Líneas de Crédito no Utilizadas y Créditos ...,282820.92685,13069.65252,295890.57937,298059.16011,0,298059.16011,40,0,40,...,648678.11381,16848.59397,665526.70778,Líneas de Crédito no Utilizadas y Créditos ...,9564.14825,2.986,9567.13425,658242.26206,16851.57997,675093.84203
99,Instrumentos Financieros Derivados,0,72713.61071,72713.61071,0,0,0,0,0,0,...,0,72713.61071,72713.61071,Instrumentos Financieros Derivados,0,0,0,0,72713.61071,72713.61071
100,Otras Cuentas Contingentes,0,0,0,0,0,0,1000,0,1000,...,11801.00171,0,11801.00171,Otras Cuentas Contingentes,26666.57801,0,26666.57801,38467.57972,0,38467.57972
101,Tipo de Cambio Contable: S/. 2.986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Tipo de Cambio Contable: S/. 2.986,NaN,NaN,NaN,NaN,NaN,NaN
102,1/ Incluye gastos devengados por pagar.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1/ Incluye gastos devengados por pagar.,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
col,row = instance.get_col_row_activo(df.iloc[:15,:3])
col,row

(0, 4)

In [15]:
df = df.iloc[row:,col:].copy(deep=True).reset_index(drop=True)
df

,0,1,2,3,5,6,7,9,10,11,...,45,46,47,48,49,50,51,53,54,55
0,Activo,CMAC Arequipa,NaN,NaN,CMAC Cusco,NaN,NaN,CMAC Del Santa,NaN,NaN,...,TOTAL CAJAS MUNICIPALES DE AHORRO Y CREDITO,NaN,NaN,Activo,Caja Municipal de Crédito Popular Lima,NaN,NaN,TOTAL CAJAS MUNICIPALES,NaN,NaN
1,NaN,MN,ME,TOTAL,MN,ME,TOTAL,MN,ME,TOTAL,...,MN,ME,TOTAL,NaN,MN,ME,TOTAL,MN,ME,TOTAL
2,DISPONIBLE,546109.67028,205599.16722,751708.8375,180175.70036,102233.36244,282409.0628,45838.13727,5987.48243,51825.6197,...,2235223.56235,966046.00829,3201269.57064,DISPONIBLE,54788.45927,19448.96037,74237.41964,2290012.02162,985494.96866,3275506.99028
3,Caja,80876.7626,17916.01069,98792.77329,29128.1963,9524.8742,38653.0705,2213.21588,418.86115,2632.07703,...,327571.91066,69759.4313,397331.34196,Caja,9490.29411,3424.41697,12914.71108,337062.20477,73183.84827,410246.05304
4,Bancos y Corresponsales,463030.00392,154817.0115,617847.01542,150394.73818,74792.48824,225187.22642,43416.34925,5450.95789,48867.30714,...,1898208.13399,757597.0428,2655805.17679,Bancos y Corresponsales,44569.13255,15475.52033,60044.65288,1942777.26654,773072.56313,2715849.82967
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,Líneas de Crédito no Utilizadas y Créditos ...,282820.92685,13069.65252,295890.57937,298059.16011,0,298059.16011,40,0,40,...,648678.11381,16848.59397,665526.70778,Líneas de Crédito no Utilizadas y Créditos ...,9564.14825,2.986,9567.13425,658242.26206,16851.57997,675093.84203
95,Instrumentos Financieros Derivados,0,72713.61071,72713.61071,0,0,0,0,0,0,...,0,72713.61071,72713.61071,Instrumentos Financieros Derivados,0,0,0,0,72713.61071,72713.61071
96,Otras Cuentas Contingentes,0,0,0,0,0,0,1000,0,1000,...,11801.00171,0,11801.00171,Otras Cuentas Contingentes,26666.57801,0,26666.57801,38467.57972,0,38467.57972
97,Tipo de Cambio Contable: S/. 2.986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Tipo de Cambio Contable: S/. 2.986,NaN,NaN,NaN,NaN,NaN,NaN
98,1/ Incluye gastos devengados por pagar.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1/ Incluye gastos devengados por pagar.,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df.iloc[0,0]="ACTIVO"
df.iloc[1,0] = "MONEDA"
df

,0,1,2,3,5,6,7,9,10,11,...,45,46,47,48,49,50,51,53,54,55
0,ACTIVO,CMAC Arequipa,NaN,NaN,CMAC Cusco,NaN,NaN,CMAC Del Santa,NaN,NaN,...,TOTAL CAJAS MUNICIPALES DE AHORRO Y CREDITO,NaN,NaN,Activo,Caja Municipal de Crédito Popular Lima,NaN,NaN,TOTAL CAJAS MUNICIPALES,NaN,NaN
1,MONEDA,MN,ME,TOTAL,MN,ME,TOTAL,MN,ME,TOTAL,...,MN,ME,TOTAL,NaN,MN,ME,TOTAL,MN,ME,TOTAL
2,DISPONIBLE,546109.67028,205599.16722,751708.8375,180175.70036,102233.36244,282409.0628,45838.13727,5987.48243,51825.6197,...,2235223.56235,966046.00829,3201269.57064,DISPONIBLE,54788.45927,19448.96037,74237.41964,2290012.02162,985494.96866,3275506.99028
3,Caja,80876.7626,17916.01069,98792.77329,29128.1963,9524.8742,38653.0705,2213.21588,418.86115,2632.07703,...,327571.91066,69759.4313,397331.34196,Caja,9490.29411,3424.41697,12914.71108,337062.20477,73183.84827,410246.05304
4,Bancos y Corresponsales,463030.00392,154817.0115,617847.01542,150394.73818,74792.48824,225187.22642,43416.34925,5450.95789,48867.30714,...,1898208.13399,757597.0428,2655805.17679,Bancos y Corresponsales,44569.13255,15475.52033,60044.65288,1942777.26654,773072.56313,2715849.82967
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,Líneas de Crédito no Utilizadas y Créditos ...,282820.92685,13069.65252,295890.57937,298059.16011,0,298059.16011,40,0,40,...,648678.11381,16848.59397,665526.70778,Líneas de Crédito no Utilizadas y Créditos ...,9564.14825,2.986,9567.13425,658242.26206,16851.57997,675093.84203
95,Instrumentos Financieros Derivados,0,72713.61071,72713.61071,0,0,0,0,0,0,...,0,72713.61071,72713.61071,Instrumentos Financieros Derivados,0,0,0,0,72713.61071,72713.61071
96,Otras Cuentas Contingentes,0,0,0,0,0,0,1000,0,1000,...,11801.00171,0,11801.00171,Otras Cuentas Contingentes,26666.57801,0,26666.57801,38467.57972,0,38467.57972
97,Tipo de Cambio Contable: S/. 2.986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Tipo de Cambio Contable: S/. 2.986,NaN,NaN,NaN,NaN,NaN,NaN
98,1/ Incluye gastos devengados por pagar.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1/ Incluye gastos devengados por pagar.,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df = instance.get_data_total(df)
df.dropna(inplace=True)
df.reset_index(drop=True)

,ACTIVO,CMAC Arequipa,CMAC Cusco,CMAC Del Santa,CMAC Huancayo,CMAC Ica,CMAC Maynas,CMAC Paita,CMAC Piura,CMAC Sullana,CMAC Tacna,CMAC Trujillo,TOTAL CAJAS MUNICIPALES DE AHORRO Y CREDITO,Caja Municipal de Crédito Popular Lima,TOTAL CAJAS MUNICIPALES
0,DISPONIBLE,751708.8375,282409.0628,51825.6197,173336.07144,166985.36371,80600.53212,41288.08038,747379.44566,323554.25608,188678.00457,393504.29668,3201269.57064,74237.41964,3275506.99028
1,Caja,98792.77329,38653.0705,2632.07703,23456.55324,11683.92241,5269.06506,6200.08687,102420.039,52319.55583,10823.17358,45081.02515,397331.34196,12914.71108,410246.05304
2,Bancos y Corresponsales,617847.01542,225187.22642,48867.30714,148876.63627,152578.52886,75258.36706,34773.06615,635118.57792,211872.41488,177548.98386,327877.05281,2655805.17679,60044.65288,2715849.82967
3,Canje,1357.45381,234.82744,0,625.56253,0,0,0,0,1052.83604,0,971.60782,4242.28764,333.65602,4575.94366
4,Otros,33711.59498,18333.93844,326.23553,377.3194,2722.91244,73.1,314.92736,9840.82874,58309.44933,305.84713,19574.6109,143890.76425,944.39966,144835.16391
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,CONTINGENTES,371186.41001,299046.72163,3372.48936,19735.54685,9836.45179,14948.12175,407.2795,25363.2683,87304.25373,3020.85624,61657.83589,895879.23505,80310.83845,976190.0735
84,"Avales, Cartas Fianza, Cartas de Crédito y ...",2582.21993,987.56152,2332.48936,19735.54685,6656.09857,13926.65221,407.2795,15.2,87011.89656,24.543,12158.42735,145837.91485,44077.12619,189915.04104
85,Líneas de Crédito no Utilizadas y Créditos ...,295890.57937,298059.16011,40,0,1955.35322,0,0,17085.8933,0,2996.31324,49499.40854,665526.70778,9567.13425,675093.84203
86,Instrumentos Financieros Derivados,72713.61071,0,0,0,0,0,0,0,0,0,0,72713.61071,0,72713.61071
87,Otras Cuentas Contingentes,0,0,1000,0,1225,1021.46954,0,8262.175,292.35717,0,0,11801.00171,26666.57801,38467.57972

In [18]:
df = instance.get_variables(df)
df

,ACTIVO,CMAC Arequipa,CMAC Cusco,CMAC Del Santa,CMAC Huancayo,CMAC Ica,CMAC Maynas,CMAC Paita,CMAC Piura,CMAC Sullana,CMAC Tacna,CMAC Trujillo,TOTAL CAJAS MUNICIPALES DE AHORRO Y CREDITO,Caja Municipal de Crédito Popular Lima,TOTAL CAJAS MUNICIPALES
0,DISPONIBLE,751708.8375,282409.0628,51825.6197,173336.07144,166985.36371,80600.53212,41288.08038,747379.44566,323554.25608,188678.00457,393504.29668,3201269.57064,74237.41964,3275506.99028
1,Caja,98792.77329,38653.0705,2632.07703,23456.55324,11683.92241,5269.06506,6200.08687,102420.039,52319.55583,10823.17358,45081.02515,397331.34196,12914.71108,410246.05304
2,Bancos y Corresponsales,617847.01542,225187.22642,48867.30714,148876.63627,152578.52886,75258.36706,34773.06615,635118.57792,211872.41488,177548.98386,327877.05281,2655805.17679,60044.65288,2715849.82967
3,Canje,1357.45381,234.82744,0,625.56253,0,0,0,0,1052.83604,0,971.60782,4242.28764,333.65602,4575.94366
4,Otros,33711.59498,18333.93844,326.23553,377.3194,2722.91244,73.1,314.92736,9840.82874,58309.44933,305.84713,19574.6109,143890.76425,944.39966,144835.16391
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,CONTINGENTES,371186.41001,299046.72163,3372.48936,19735.54685,9836.45179,14948.12175,407.2795,25363.2683,87304.25373,3020.85624,61657.83589,895879.23505,80310.83845,976190.0735
91,Avales Cartas Fianza Cartas de Credito y Acept...,2582.21993,987.56152,2332.48936,19735.54685,6656.09857,13926.65221,407.2795,15.2,87011.89656,24.543,12158.42735,145837.91485,44077.12619,189915.04104
92,Lineas de Credito no Utilizadas y Creditos Con...,295890.57937,298059.16011,40,0,1955.35322,0,0,17085.8933,0,2996.31324,49499.40854,665526.70778,9567.13425,675093.84203
93,Instrumentos Financieros Derivados,72713.61071,0,0,0,0,0,0,0,0,0,0,72713.61071,0,72713.61071
94,Otras Cuentas Contingentes,0,0,1000,0,1225,1021.46954,0,8262.175,292.35717,0,0,11801.00171,26666.57801,38467.57972